{% extends "base.html" %}
{% block title %}Happy Beans | Log In{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="authentication-message">
      <h1>{% trans "Log In" %}</h1>

      <p>{% blocktrans %}Welcome back to Happy Beans!</p>
      <p>If you have not created an account yet,</p>
      <p>please 
        <a href="{{ signup_url }}" class="login-signin-link">Sign Up</a> first!{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="authentication-container authentication-action">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="primaryAction btn buttons" type="submit">{% trans "Log In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}