{% extends "base.html" %}
{% block title %}Happy Beans | Log Out{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-2 offset-md-2 authentication-message">
      <h1>{% trans "Log Out" %}</h1>

      <p>{% trans 'Are you sure you want to log out?' %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-2 offset-md-2 authentication-action">

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn buttons" type="submit">{% trans 'Log Out' %}</button>
      </form>
      <p class="mt-4">{% trans '...or perhaps interested in more recipes?' %}</p>
      <div class="text-center mt-2">
        <a href="{% url 'browse_recipes' %}" class="btn buttons" aria-label="Back to recipes button"
          role="button">Browse Recipes</a>
      </div>

    </div>
  </div>
</div>


{% endblock %}