body {
    padding-top: 4.5rem;
}

footer i {
    font-size: 180%;
    padding: 1rem 2rem;
}

.btn-like {
    border: none;
    background: transparent;
    color: #F74A87;
    font-size: 110%;
}

.card {
    border: none;
    background-color: transparent;
}


.dropdown-menu {
    min-width: inherit;
}
