/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');

/* Root variable for colours */
:root {
    --navy: #1F4463;
    --green: #6cb459;
    --white: #FFFFFF;

}

/* General styles  */
body {
    padding-top: 70px;
    font-family: 'Nunito', sans-serif;
    color: var(--navy);
}

h1{
    font-weight:bold;
}

.buttons {
    background-color: var(--navy);
    color: var(--white);
}

.buttons:hover {
    background-color: var(--green);
    color: var(--white);
}

/* Navbar */
.navbar {
    background-color: var(--white);
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.nav-link {
    color: var(--navy);
    padding-left: 1rem;
}

.nav-link:hover {
    color: var(--green);
}

a.navbar-brand {
    margin: 0 5px 0 0;
}

.navbar-logo {
    margin-left: 0.6rem;
    width: 14.2rem;
}

.navbar-toggler {
    border: none;
}

.active {
    color: var(--green) !important;
}

/* Footer */
.footer-container {
    margin-top: -0.4rem;
    margin-bottom: 0.8rem;
}

footer i {
    font-size: 130%;
    padding: 0.5rem 0.6rem ;
    color: var(--navy)
}

footer i:hover {
    color: var(--green);
}

/* Home page */
.logo {
    width: 90%;
    margin-top:0.5rem;
}

.tag-line {
    font-size: 1.3rem;
}

.feature-card {
    margin-top: 0.5rem;
    background-color: #C2EF7E;
    border: none;
}

.feature-card h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

.action-container {
    margin: 1rem;
}

.action-container h6 {
    margin-bottom: 0.7rem;
}

/* Browse recipe page */
.recipe-filters {
    font-weight: bold;
}

.recipe-filters input {
    margin-top: 0.3rem;
}

/* Recipe detail page */
.btn-like {
    border: none;
    background: transparent;
    color: #F74A87;
    font-size: 120%;
}

.comment-card {
    border: none;
    background-color: transparent;
}

.dropdown-menu {
    min-width: inherit;
}

.icons {
    font-size: 120%;
}

@media screen and (min-width: 375px) {
    body {
        padding-top: 84px;
    }

    .navbar-logo {
        width: 17rem;
    }

    .footer-container {
        margin-top: -0.2rem;
        margin-bottom: 1rem;
    }
    
    footer i {
        font-size: 150%;
        padding: 0.5rem 0.8rem ;
     }
}

@media screen and (min-width: 576px) {
    body {
        padding-top: 95px;
    }

    .navbar-logo {
        width: 20rem;
    }
    
    footer i {
        font-size: 170%;
    }

    .recipe-filters {
        width: 100%;
        text-align: center;
    }

    .form-group {
        width: 25%;
        display: inline-block;
        padding: 0;
    }

    .recipe-filters input {
        display: inline-block;
        margin-top: -0.3rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 105px;
    }

    .navbar-logo {
        width: 23rem;
    }

    .nav-link {
        font-size: 1.2rem !important;
    }

    footer i {
        padding: 0.5rem 1.4rem ;
    }

    .form-group {
        width: 27%;
    }

    .recipe-filters input {
        margin-top: -0.25rem;
    }
}

@media screen and (min-width: 992px) {
    footer i {
        font-size: 180%;
    }

    .recipe-filters input {
        margin-top: -4px;
    }
}

@media screen and (min-width: 1200px) {
    .form-group {
        width: 30%;
        padding: 0 0.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .nav-link {
        font-size: 1.3rem !important;
    }

    footer i {
        font-size: 200%;
    }
}