body {
    padding-top: 4.5rem;
}

footer i {
    font-size: 180%;
    padding: 1rem 2rem;
}

.btn-like {
    border: none;
    background: transparent;
    color: #F74A87;
    font-size: 120%;
}

.card {
    border: none;
    background-color: transparent;
}

.dropdown-menu {
    min-width: inherit;
}

[data-title]:hover:after {
    visibility: visible;
}
  
[data-title]:after {
    content: attr(data-title);
    background-color: pink;
    border-radius: 5px;    
    color: #ffffff;
    font-size: 100%;
    position: absolute;
    padding: 0.5rem;
    margin-left: -8rem;
    margin-top: 2rem;
    visibility: hidden;
}

.icons {
    font-size: 120%;
}