{% extends "base.html" %}
{% block title %}Happy Beans | Browse Recipes{% endblock %}

{% block content %}

{% load recipeapp_tags %}
{% load bootstrap %}

<!-- Recipe filters -->
<div class="container">
    <form method="GET">
        {{ filtered_recipes.form|bootstrap }}
        <input type="submit" class="btn btn-outline-dark mt-1" value="Submit">
    </form>
</div>

<!-- Recipes -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Loop through available recipes -->
                {% for recipe in recipe_page_obj %}
                {% include "components/recipe_image.html" %}
                {% include "components/recipe_cards.html" %}
                <!-- If there are no recipes to display -->
                {% empty %}
                <p>No results found, sorry...</p>
                <p>Let's browse more delicious and nutritious recipes!</p>
                </p>
                <a href="{% url 'browse_recipes' %}" class="btn btn-outline-dark" aria-label="Back to recipes button"
                    role="button">Browse Recipes!</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<!-- Code source: Django filter and pagination https://www.youtube.com/watch?v=dkJ3uqkdCcY -->
<div class="container">
    <div class="pagination">
        <span class="step-links mx-auto">
            {% if recipe_page_obj.has_previous %}
            <a class="btn btn-outline-dark btn-sm" href="{% relative_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
            <a class="btn btn-outline-dark btn-sm" href="{% relative_url recipe_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            {% endif %}

            {% if recipe_page_obj.has_previous or recipe_page_obj.has_next %}
            <span class="current">
                Page {{ recipe_page_obj.number }} of {{ recipe_page_obj.paginator.num_pages }}
            </span>
            {% endif %}

            {% if recipe_page_obj.has_next %}
            <a class="btn btn-outline-dark btn-sm" href="{% relative_url recipe_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
            <a class="btn btn-outline-dark btn-sm" href="{% relative_url recipe_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;
                Last</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}