{% extends "base.html" %}
{% block title %}Happy Beans | Browse Recipes{% endblock %}

{% block content %}

{% load bootstrap %}

<!-- Recipe filters -->
<div class="container">
    <form method="GET">
        {% csrf_token %}
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-outline-dark mt-1">Search</button>
    </form>
</div>

<!-- Recipes -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Loop through available recipes -->
                {% for recipe in filter.qs %}
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <!-- If image is not loaded by the user -->
                        {% if "placeholder" in recipe.image.url %}
                        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1679726727/placeholder-image_o1t1ix.jpg"
                            class="card-img-top" alt="placeholder image">
                        {% else %}
                        <!-- If image is loaded by the user -->
                        <img src=" {{ recipe.image.url }}" class="card-img-top" alt="image of {{ recipe.title }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="d-flex">
                                    <div class="d-inline col-11">
                                        <h5 class="card-title">{{ recipe.title }}</h5>
                                    </div>
                                    <div class="d-inline col-1">
                                        <p class="text-end text-secondary">
                                            <i class="fa-regular fa-heart"></i> {{ recipe.number_of_likes }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="stretched-link"
                                aria-label="Link to the recipe detail" role="button"></a>
                        </div>
                    </div>
                </div>
                <!-- Displays 3 recipes per row -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                <!-- If there are no recipes to display -->
                {% empty %}
                <p>No results found, sorry...</p>
                <p>Let's browse more delicious and nutritious recipes!</p>
                </p>
                <a href="{% url 'browse_recipes' %}" class="btn btn-outline-dark" aria-label="Back to recipes button"
                    role="button">Browse Recipes!</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}