{% extends "base.html" %}
{% block title %}Happy Beans | Browse Recipes{% endblock %}

{% block content %}

{% load bootstrap %}

<!-- Recipe filters -->
<div class="container">
    <form method="GET">
        {% csrf_token %}
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-outline-dark mt-1">Search</button>
    </form>
</div>

<!-- Recipes -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Loop through available recipes -->
                {% for recipe in filter.qs %}
                {% include "components/recipe_cards.html" %}
                <!-- If there are no recipes to display -->
                {% empty %}
                <p>No results found, sorry...</p>
                <p>Let's browse more delicious and nutritious recipes!</p>
                </p>
                <a href="{% url 'browse_recipes' %}" class="btn btn-outline-dark" aria-label="Back to recipes button"
                    role="button">Browse Recipes!</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}