{% extends 'base.html' %}
{% block title %}Happy Beans | Delete Recipe{% endblock %}

{% block content %}

<div class="container justify-content-center">
    <h1>Delete Recipe</h1>
    <div class="row">
        {% if user.is_authenticated and user == recipe.author %}
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete {{ recipe.title }}?</p>

            <button type="submit" class="btn btn-outline-dark">Delete</button>
            <a class="btn btn-outline-dark" href="{% url 'recipe_detail' recipe.slug %}">Cancel</a>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}