{% extends 'base.html' %}
{% block title %}Happy Beans | Delete Recipe{% endblock %}

{% block content %}

<div class="container justify-content-center">
    <h1>Delete Recipe</h1>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you would like to delete {{ recipe.title }}?</p>

        <button type="submit" class="btn btn-outline-dark">Delete</button>
        <a class="btn btn-outline-dark" href="{% url 'recipe_detail' recipe.slug %}">Cancel</a>

        {% if deleted %}
        <div class="alert alert-success" role="alert">{{ recipe.title }} has been deleted.</div>
        {% endif %}
    </form>   
    
</div>

{% endblock %}