{% extends "base.html" %}
{% block title %}Happy Beans | Home{% endblock %}

{% block content %}

<div class="container-fluid justify-center items-center introduction">
    <h1>Happy Beans</h1>
    <h2>Welcome to our child-friendly recipe sharing website!</h2>
    <h2>Browse through our wide variety of delicious and nutritious recipes that the whole family can enjoy.</h2>
    <h2>Sign up for a free account to save your favourite recipes, create your own recipe collections, and share your
        own creations with our community.</h2>
    <h2>Get creative and experiment with new flavours and ingredients. Happy cooking!
</div>

<div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Recipes -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        {% if "placeholder" in recipe.image.url %}
                        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1678609259/placeholder-image_ljwhho.jpg"
                            class="card-img-top" alt="placeholder image">
                        {% else %}
                        <img src=" {{ recipe.image.url }}" class="card-img-top" alt="image of {{ recipe.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}
                                <i class="far fa-heart"></i>  {{ recipe.number_of_likes }}</p>
                            </h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="#" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "paginator.html" %}

{% endblock %}