{% extends "base.html" %}
{% block title %}Happy Beans | My Favourites{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- Liked recipes -->
<div class="container">
    <h1>My Favourites</h1>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Loop through recipes -->
                {% for recipe in recipe_list %}
                {% include "components/recipe_cards.html" %}
                <!-- If there are no recipes to display -->
                {% empty %}
                <p>Haven't found your favourite recipes yet?</p>
                <p>Let's get inspired with our delicious and nutritious recipes!</p>
                </p>
                <a href="{% url 'browse_recipes' %}" class="btn btn-outline-dark" aria-label="Back to recipes button"
                    role="button">Browse Recipes</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
{% include "components/paginator.html" %}

{% endif %}

{% endblock %}