{% extends "base.html" %}
{% block title %}Happy Beans | My Recipes{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <h1>My Recipes</h1>
    {% if my_recipes|length == 0 %}
        <p>No recipes yet!</p>
        <p>Let's post your first recipe!</p>
        <a href="{% url 'post_recipe' %}" class="btn btn-outline-dark" aria-label="Post recipe button"
            role="button">Post a Recipe
        </a>
        <p>Not ready to post a recipe yet? Let's get inspired with our recipes!</p>
        <a href="{% url 'home' %}" class="btn btn-outline-dark" aria-label="Back to home button" role="button">Home
        </a>
    {% endif %}
    <div class="row">
        <!-- Recipes -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- Loop through recipes -->
                {% for recipe in recipe_list %}
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <!-- If image is not loaded by user -->
                        {% if "placeholder" in recipe.image.url %}
                        <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1678609259/placeholder-image_ljwhho.jpg"
                            class="card-img-top" alt="placeholder image">
                        {% else %}
                        <!-- If image is loaded by user -->
                        <img src=" {{ recipe.image.url }}" class="card-img-top" alt="image of {{ recipe.title }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="d-flex">
                                    <div class="d-inline col-11">
                                        <!-- If recipe status is draft -->
                                        {% if recipe.status == 0 %}
                                        <h5 class="card-title">{{ recipe.title }}<span class="text-danger"> [Draft]</span></h5>
                                        <!-- If recipe is published -->
                                        {% else %}
                                        <h5 class="card-title">{{ recipe.title }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="d-inline col-1">
                                        <p class="text-end text-secondary">
                                            <i class="fa-regular fa-heart"></i> {{ recipe.number_of_likes }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="stretched-link"
                                aria-label="Link to the recipe detail" role="button"></a>
                        </div>
                    </div>
                </div>
                <!-- Displays 3 recipes per row -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

</div>

<!-- Includes pagination -->
{% include "paginator.html" %}

{% endif %}

{% endblock %}