{%  if is_paginated  %}

{% comment %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a class="page-link m-1" href="?page=1">First</a></li>
        <li><a class="page-link m-1" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <li><a class="page-link m-1" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        <li><a class="page-link m-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}
    </ul>
</nav>
{% endcomment %}


<div class="pagination justify-content-center m-1">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark btn-sm" href="?page=1">&laquo; First</a>
            <a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{%  endif  %}