{% extends 'base.html' %}
{% block title %}Happy Beans | {{ recipe.title }}{% endblock %}

{% block content %}

<div class="container recipe-container">
    <div class="row">
        <div class="col-lg-6">
            {% if "placeholder" in recipe.image.url %}
            <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1678609259/placeholder-image_ljwhho.jpg"
                alt="placeholder image" width="100%">
            {% else %}
            <img src="{{ recipe.image.url }}" alt="image of {{ recipe.title }}" width="100%">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1>{{ recipe.title }}</h1>
            <div class="row">
                <div class="d-flex">
                    <div class="d-inline col-6">
                        <p>By {{ recipe.author }}</p>
                    </div>
                    <div class="d-inline col-6">
                        <p class="text-end"><i class="far fa-heart"></i> {{ recipe.number_of_likes }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <p>{{ recipe.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Prep Time:</strong> {{ recipe.prep_time }} mins</p>
                </div>
                <div class="col-lg-6">
                    <p><strong>Cooking Time:</strong> {{ recipe.cook_time }} mins</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Serves:</strong> {{ recipe.serves }}</p>
                </div>
                <div class="col-lg-6">
                    <p>
                        {% if recipe.difficulty == 0 %}
                        <strong>Difficulty:</strong> Easy
                        {% elif recipe.difficulty == 1 %}
                        <strong>Difficulty:</strong> Moderate
                        {% elif recipe.difficulty == 2 %}
                        <strong>Difficulty:</strong> Hard
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if recipe.diet_types %}
                    <p><strong>Diet:</strong> {{ recipe.diet_types }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Ingredients</h3>
            <p>{{ recipe.ingredients | safe }}</p>
        </div>
        <div class="col-lg-6">
            <h3>Method</h3>
            <p>{{ recipe.method | safe }}</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text"></p>
                <div class="row">

                    <div class="col-1">
                        <!-- The number of likes goes before the closing strong tag -->
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ recipe.number_of_likes }}</strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}