{% extends 'base.html' %}
{% block title %}Happy Beans | {{ recipe.title }}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container recipe-container">
    <div class="row">
        <div class="col-lg-6">
            {% if "placeholder" in recipe.image.url %}
            <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1678609259/placeholder-image_ljwhho.jpg"
                alt="placeholder image" width="100%">
            {% else %}
            <img src="{{ recipe.image.url }}" alt="image of {{ recipe.title }}" width="100%">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h1>{{ recipe.title }}</h1>
            <div class="row">
                <div class="d-flex">
                    <div class="d-inline col-10">
                        <p>By {{ recipe.author }}</p>
                    </div>
                    <div class="d-inline col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ recipe.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <p>{{ recipe.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Prep Time:</strong> {{ recipe.prep_time }} mins</p>
                </div>
                <div class="col-lg-6">
                    <p><strong>Cooking Time:</strong> {{ recipe.cook_time }} mins</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Serves:</strong> {{ recipe.serves }}</p>
                </div>
                <div class="col-lg-6">
                    <p>
                        {% if recipe.difficulty == 0 %}
                        <strong>Difficulty:</strong> Easy
                        {% elif recipe.difficulty == 1 %}
                        <strong>Difficulty:</strong> Moderate
                        {% elif recipe.difficulty == 2 %}
                        <strong>Difficulty:</strong> Hard
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if recipe.diet_types %}
                    <p><strong>Diet:</strong> {{ recipe.diet_types }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Ingredients</h3>
            <p>{{ recipe.ingredients | safe }}</p>
        </div>
        <div class="col-lg-6">
            <h3>Method</h3>
            <p>{{ recipe.method | safe }}</p>
        </div>
    </div>
</div>

<!-- Comments section -->
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 card mb-4 mt-3">
            <div class="card-body">
                <h3>Comments</h3>
                <!-- If there is no comment yet -->
                {% if not comments %}
                <p>Be the first to share your thoughts!</p>
                {% endif %}
                <!-- If there is a comment/are comments, loop through the comment(s) -->
                {% for comment in comments %}
                <div class="row" style="padding: 10px;">
                    <div class="d-flex">
                        <div class="d-inline col-10">
                            {{ comment.name }}
                        </div>
                        <div class="d-inline col-2">
                            {{ comment.date_format_created_on }}
                        </div>
                    </div>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-5 card mb-4 mt-3">
            <div class="card-body">
                <h3>Leave a Comment</h3>
                <!-- Alert when user comment has been added -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Thank you! Your comment has been added successfully!
                </div>
                {% endif %}
                <!-- If user is logged in -->
                {% if user.is_authenticated %}
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
                <!-- If user is not logged in -->
                {% else %}
                <p>Please log in to leave a comment!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}