{% extends 'base.html' %}
{% block title %}Happy Beans | {{ recipe.title }}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container recipe-container">
    <div class="row">
        <div class="col-lg-6">
            {% if "placeholder" in recipe.image.url %}
            <img src="https://res.cloudinary.com/dio3rjgik/image/upload/v1678609259/placeholder-image_ljwhho.jpg"
                alt="placeholder image" width="100%">
            {% else %}
            <img src="{{ recipe.image.url }}" alt="image of {{ recipe.title }}" width="100%">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="d-flex">
                    <div class="d-inline col-10">
                        <h1>{{ recipe.title }}</h1>
                    </div>
                    {% if user.is_authenticated and user == recipe.author %}
                    <div class="d-inline col-1">
                        <a href="{% url 'update_recipe' recipe.slug %}" class="btn btn-outline-dark mt-2"
                            aria-label="Update recipe button" role="button" title="Edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                    <div class="d-inline col-1">
                        <a href="" class="btn btn-outline-dark mt-2" aria-label="Delete recipe button" role="button"
                            title="Delete" data-bs-toggle="modal" data-bs-target="#deleteRecipeModal">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="d-flex">
                    <div class="d-inline col-10">
                        <p>By {{ recipe.author }}</p>
                    </div>
                    <div class="d-inline col-2 text-end pe-3">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="post">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like"
                                    data-title="Click here to like!">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ recipe.number_of_likes }}</span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Prep Time:</strong> {{ recipe.prep_time }} mins</p>
                </div>
                <div class="col-lg-6">
                    <p><strong>Cooking Time:</strong> {{ recipe.cook_time }} mins</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p><strong>Serves:</strong> {{ recipe.serves }}</p>
                </div>
                <div class="col-lg-6">
                    <p>
                        {% if recipe.difficulty == 0 %}
                        <strong>Difficulty:</strong> Easy
                        {% elif recipe.difficulty == 1 %}
                        <strong>Difficulty:</strong> Moderate
                        {% elif recipe.difficulty == 2 %}
                        <strong>Difficulty:</strong> Hard
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if recipe.diet_types %}
                    <p><strong>Diet:</strong> {{ recipe.diet_types }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <p>{{ recipe.description }}</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Ingredients</h3>
            <p>{{ recipe.ingredients | safe }}</p>
        </div>
        <div class="col-lg-6">
            <h3>Method</h3>
            <p>{{ recipe.method | safe }}</p>
        </div>
    </div>
</div>

<!-- Comments section -->
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 card mb-4 mt-3">
            <div class="card-body">
                <h3>Comments</h3>
                <!-- If there is no comment yet -->
                {% if not comments %}
                <p>Be the first to share your thoughts!</p>
                {% endif %}
                <!-- If there is a comment/are comments, loop through the comment(s) -->
                {% for comment in comments %}
                <div class="row">
                    <div class="d-flex">
                        <div class="d-inline col-8">
                            {{ comment.name }}
                        </div>
                        <div class="d-inline col-3 text-end">
                            {{ comment.date_format_created_on }}
                        </div>
                        {% if user.is_authenticated and user.username == comment.name %}
                        <div class="d-inline col-1">
                            <div class="dropdown">
                                <a class="stretched-link ps-3" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v text-dark"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'update_comment' comment.id %}">
                                            <i class="fa-regular fa-pen-to-square px-1"></i> Edit</a></li>
                                    <li><a class="dropdown-item" href="" data-bs-toggle="modal"
                                            data-bs-target="#deleteCommentModal">
                                            <i class="fa-regular fa-trash-can px-1"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex">
                        <div class="d-inline col-11">
                            <p>{{ comment.body }}</p>
                        </div>
                        <div class="d-inline col-1"></div>
                    </div>
                </div>
                <!-- Modal used to confirm deletion of a comment -->
                <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this comment?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form method="post" action="{% url 'delete_comment' comment.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 card mb-4 mt-3">
            <div class="card-body">
                <h3>Leave a Comment</h3>
                <!-- If user is logged in -->
                {% if user.is_authenticated %}
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
                <!-- If user is not logged in -->
                {% else %}
                <p>Please log in to leave a comment!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal used to confirm deletion of a recipe -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteRecipeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecipeModalLabel">Delete Recipe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ recipe.title }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'delete_recipe' recipe.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}