        <div class="card-body">
            <div class="row">
                <div class="d-flex">
                    <div class="d-inline col-11">
                        <h5 class="card-title">{{ recipe.title | capfirst }}</h5>
                    </div>
                    <div class="d-inline col-1">
                        <p class="text-end text-secondary">
                            <i class="fa-regular fa-heart"></i> {{ recipe.number_of_likes }}
                        </p>
                    </div>
                </div>
            </div>
            <p class="card-text">{{ recipe.description | capfirst | truncatechars:50 }}</p>
            <a href="{% url 'recipe_detail' recipe.slug %}" class="stretched-link"
                aria-label="Link to the recipe detail" role="button"></a>
        </div>
    </div>
</div>
